
body, html{
  height:100%;
}
body{
  /* margin: 0px;
  background-color:#444;
  font-size: 18px; */
  background-image: url("images/purple_dance_floor-01.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.beebs{
  content: url("images/beebs.jpg");
  height: 80px;
  width: 80px;
  border-radius:50%;
  position:absolute;
}

.beyonce{
  content: url("images/beyonce.jpg");
  height: 80px;
  width: 80px;
  border-radius:50%;
  position:absolute;
}

.bbking{
  content: url("images/BBKing.jpg");
  height: 80px;
  width: 80px;
  border-radius:50%;
  position:absolute;
}

.LBJ{
  content: url("images/LBJ.jpg");
  height: 80px;
  width: 80px;
  border-radius:50%;
  position:absolute;
}
.LBJ:hover{
  height: 300px;
  width: 300px;
}

.susieb{
  content: url("images/SuzieB.jpg");
  height: 80px;
  width: 80px;
  border-radius:50%;
  position:absolute;
}

.spiralDancer{
  animation: dancemoves 1s infinite;
  animation-direction: alternate;
}

@keyframes dancemoves {
  0%   {top: 0px;}
  25%  {top: 200px;}
  50%  {top: 100px;}
  75%  {top: 200px;}
  100% {top: 0px;}
}